@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 8%;
  background: #f6f7fb;
}

.App-logo {
  margin: 2rem 0px;
}
.App-logo button {
  padding: 0px;
  border: none;
  background: none;
  cursor: pointer;
}
.App-logo button:focus {
  outline: none !important;
}
.App-logo button span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #282538;
}
.App-logo button span:nth-of-type(1) {
  font-weight: 700;
}
.App-logo button span:nth-of-type(2) {
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    'search search'
    'aside main';
  gap: 1.5rem 2rem;
}

.jobdesc-container {
  grid-template-areas: 'aside main';
}

aside {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
