@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 0px 8%;
  background: #f6f7fb;
}

.App-logo {
  margin: 2rem 0px;
}
.App-logo span {
  font-size: 1.5rem;
  color: #282538;
}
.App-logo span:nth-of-type(1) {
  font-weight: 700;
}
.App-logo span:nth-of-type(2) {
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-areas:
    'search search'
    'aside main';
  gap: 1.5rem;
}
.search-section {
  grid-area: search;
}
.search-box {
  width: 100%;
  height: 8.75rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/backgroundImg.png');
  background-size: cover;
  background-position: center;
}
.search-box form {
  width: 70%;
}
.input-control {
  display: flex;
  position: relative;
  width: 100%;
}
.input-control.search i {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #b9bdcf;
  font-size: 1rem;
}
.input-search {
  width: 100%;
  padding: 20px 168px 20px 40px;
  color: #282538;
  background: #ffffff;
  border: 2px solid #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.input-search::placeholder {
  font-size: 0.75rem;
  color: #b9bdcf;
}
.submit-search {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #1e86ff;
  background: #1e86ff;
  border-radius: 4px;
  padding: 14px 48px;
}

.filterjobs-section {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}
.filter-fulltime form {
  height: 3rem;
  display: flex;
  align-items: center;
}
.filter-fulltime form input {
  width: 18px;
  height: 18px;
  margin: 0px 10px 0px 12px;
  border: 1px solid #b9bdcf;
  box-sizing: border-box;
  border-radius: 2px;
}
.filter-fulltime form label {
  font-size: 0.875rem;
  color: #334680;
  font-weight: 500;
  cursor: pointer;
}
.search-location {
  padding: 0.5rem 0px;
  display: flex;
  flex-direction: column;
}
.search-location label {
  font-size: 0.875rem;
  font-weight: 700;
  color: #b9bdcf;
  text-transform: uppercase;
  cursor: pointer;
}
.input-control.location {
  margin-top: 0.875rem;
}
.input-control.location i {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #b9bdcf;
  font-size: 1.2rem;
}
.input-control.location input {
  width: 100%;
  color: #282538;
  border: 2px solid #fff;
  padding: 18px 14px 18px 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.input-control.location input::placeholder {
  color: #b9bdcf;
}

.filter-location {
  padding: 1rem 0px;
}
.filter-location form {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.radio-group {
  display: flex;
}
.radio-group input {
  width: 18px;
  height: 18px;
  margin: 0px 12px;
}
.radio-group label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #334680;
  cursor: pointer;
}

aside {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
