@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

aside {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
