@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 0px 8%;
  background: #f6f7fb;
}

.App-logo {
  margin: 2rem 0px;
}
.App-logo span {
  font-size: 1.5rem;
  color: #282538;
}
.App-logo span:nth-of-type(1) {
  font-weight: 700;
}
.App-logo span:nth-of-type(2) {
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-areas:
    'search search'
    'aside main';
  gap: 1.5rem;
}

aside {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
