@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 8%;
  background: #f6f7fb;
}

.load-animation {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #334680;
}

.not-found {
  display: flex;
  justify-content: center;
  margin: 2rem 0px;
  color: #334680;
}

/* logo style */
.app-logo {
  margin: 2rem 0px;
}
.app-logo span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #282538;
}
.app-logo span:nth-of-type(1) {
  font-weight: 700;
}
.app-logo span:nth-of-type(2) {
  font-weight: 300;
}
/* logo style */

main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    'search search'
    'aside main';
  gap: 1.5rem 2rem;
}

aside {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-family: 'Montserrat', sans-serif;
}
