.card-container {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
}
/* logo style */
.card__logo {
  min-width: 6rem;
  max-width: 6rem;
  height: 5.625rem;
}
.card__logo img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}
.card__logo span {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
/* title style */
.card__title {
  display: flex;
  flex-direction: column;
}
.card__title .name {
  font-size: 0.75rem;
  font-weight: 700;
  color: #334680;
}
.card__title .title {
  font-size: 1.125rem;
  font-weight: 400;
  color: #334680;
  margin: 0.5rem 0px;
}
.card__title .fulltime {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #334680;
  padding: 6px 8px;
  background: none;
  border: 1px solid #334680;
  border-radius: 4px;
}
.card__title .fulltime:focus {
  outline: none !important;
}
/* time style */
.card__time {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  right: 12px;
  bottom: 12px;
}
.card__time span {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #b7bcce;
}
