.jobdesc-aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}
.jobdesc-main {
  grid-area: main;
}
.back-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: none;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  color: #1e86ff;
  cursor: pointer;
}
.back-button button:focus {
  outline: none !important;
}
.back-button button i {
  transform: rotate(180deg);
  margin-right: 0.9rem;
}
.apply-container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0px;
}
.apply-container h2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0.4rem 0px;
  text-transform: uppercase;
  color: #b9bdcf;
}
.apply-container .apply-text {
  font-weight: 500;
  font-size: 0.875rem;
  color: #334680;
}
.apply-container .apply-text p {
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0px;
}
.apply-container .apply-text p a {
  word-wrap: break-word;
}

.jobdesc-title {
  display: flex;
  flex-direction: column;
}
.jobdesc-title .title {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-bottom: 0.5rem;
}
.jobdesc-title .title .role {
  max-width: 80%;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #334680;
}
.jobdesc-title .title .full {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #334680;
  padding: 6px 8px;
  background: none;
  border: 1px solid #334680;
  border-radius: 4px;
}
.jobdesc-title .title .full:focus {
  outline: none !important;
}
.jobdesc-created,
.company-text .location {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #b7bcce;
}
.jobdesc-created i,
.company-text .location i {
  font-size: 1rem;
}
.jobdesc-company {
  display: flex;
  padding: 1.5rem 0px;
  column-gap: 0.75rem;
}
.company-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.company-text .company {
  font-weight: 700;
  font-size: 1.125rem;
  color: #334680;
}
.company-logo {
  max-width: 3rem;
  min-width: 3rem;
  height: 3rem;
}
.company-logo img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}
.company-logo span {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
.jobdesc-content {
  color: #334680;
}
